h1{
    color: #ffffff
    text-shadow: 2px 2px 5px black;
}

h2{
    color: rgb(0,204,255)
    text-shadow: 1px 1px 3px darkblue;
}

.borderImg{
    border: 10px dashed red;
}

ul li{
    color: white;
    font-size: 20px;
}

ul>li{
    color:orangered;
}
/* any unordered list that has 
a child nd which is a list */
